
  <div class="post" id="post<%=post.id%>">
    <div class="post-user">
  <!-- the header part of the post viz. user_name ,  pic , date added  and a drop down setting-->
    <div class="left">
      <%=image_tag(post.user.profile_pic , style:"height:40px;width:40px")%>
    </div>
    <div class="right">
      <div class="name"><%= post.user.name %></div>
      <div class="time"><%= time_ago_in_words(post.created_at) %></div>
    </div></div>
    <div class="post-body"> <!-- contains the post content and image if any? -->
      <%if post.image.attached? %>
      <div class="content"><%=post.content%></div>
      <div class="img"><%=image_tag(post.image , style:"width:100%;height:auto;")%></div>
      <%else%>
      <div class="content-bigger"><div><%=post.content%></div></div>

      <%end%>

    </div>

    <div class="like">
     <%= render partial: 'like' , locals: {post: post} %>
    </div>

    <div class="post-comment">
       <%= render partial: 'comments/comments' , locals: {post: post} %>
    </div>
  </div>
