
  <div class="post p<%=post.id%>">
    <div class="post-user">
  <!-- the header part of the post viz. user_name ,  pic , date added  and a drop down setting-->
    <div class="left">
      <%=image_tag(post.user.profile_pic , style:"height:40px;width:40px")%>
    </div>
    <div class="right">
      <div class="name"><%= post.user.name %></div>
      <div class="time"><%= time_ago_in_words(post.created_at) %></div>
    </div></div>
    <div class="post-body"> <!-- contains the post content and image if any? -->
      <%if post.image.attached? %>
      <div class="content"><%=post.content%></div>
      <div class="img"><%=image_tag(post.image , style:"width:100%;height:auto;")%></div>
      <%else%>
      <div class="content-bigger"><div><%=post.content%></div></div>

      <%end%>

    </div>

    <div class="like">
    <% if post.likes.count!=0||post.comments.count!=0 %>
      <div class="status">
        <span class="like_count"><%=post.likes.count%></span>
        <span class="comment_count"><%=post.comments.count%></span>
       </div>

      <%end%>
      <div class="action_it">
       <%= form_for( @like , remote: true) do |l|  %>
        <input type="hidden" name="like[parent_type]" value="Post">
        <input type="hidden" name="like[parent_id]" value="<%=post.id%>">
       <%= l.submit "" ,  class:"like_click"  ,  style:"display:none;"%>
       <%end%>
        <div class="like_it"><i class="far fa-thumbs-up"></i><span>Like</span></div>
        <div class="comment_it"><i class="far fa-comment-alt"></i><span>Comment</span></div>
        <div class="share_it"><i class="fas fa-share"></i><span>Share</span></div>
      </div>
    </div>
    <div class="post-comment">
       <div class="new-comment">
         </div>
       <div class="all-comment">
         <% post.comments.each do |comment| %>
         <div class="comment">
          <span class="comment-user"></span>
          <span class="comment-content"></span>
         </div>
         <div class="comment-like"></div>
         <% end %>
       </div>

    </div>
  </div>
