<div class="newsfeed">
  <div class="newsfeed-left"></div>
  <div class="newsfeed-right"></div>
  <div class="newsfeed-main">

    <div class="new-post">
      <i class="fa fa-times close_modal"></i>
      <%=form_for(@post , html: {class: "form"} , url:posts_path) do |p| %>
      <div class="selector">
         <i class="fa fa-pencil" id="post_icon"><span>Make Post</span></i>
        <%= p.file_field :image , id: "image_new" %>
        <i class="fa fa-image" id="image_alt"><span>Photo</span></i>
      </div>
      <div class="person">
         <div class="pic"><%= image_tag(current_user.profile_pic , style: "height:45px ; width:45px")%></div>

        <%= p.text_field :content , placeholder:"Write something here..." , class: "content" , autocomplete: "off"%>
      </div>
         <img src="" alt="" id="preview">
         <i class="fa fa-times close"></i>

      <%= p.submit "New Post" , class: "btn content-submit "%>
      <!-- render 'posts' in erb code -->

    <%end%>

  </div>


</div>

</div>
