<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% if user_signed_in? %>
    <navbar id="navbar">
    <img src="assets/fb.jpg" alt="fb-logo" class="logo">
    <div class="search">
      <input type="search" class="search-bar" placeholder="Search">
      <button type="submit"><i class="fa fa-search" ></i></button>

    </div>
    </navbar>


    <%end%>



    <%= yield %>

  </body>
</html>
